# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
dist/
dist-ssr/

# Environment and local files
.env
*.local

# Logs or Sync outputs
sync_logs.txt

# IDE/editor settings
.vscode/
.idea/
.DS_Store

# Misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
